@import url('https://fonts.googleapis.com/css?family=Nunito:300,400&display=swap');

$blue: rgb(10, 132, 255);
$white: rgb(247, 247, 247);
$black: rgb(29, 29, 29);

body {
	font-family: 'Nunito', sans-serif;
	background-color: $white;
  font-size: 16px;
}

::-webkit-scrollbar {
	width: 0px;
	background: transparent;
}

/*-----------------------------SOCIAL-----------------------------*/

.social ul {
  list-style-type: none;
  padding: 4rem 0 0 0;
}

.social li {
  display: inline-block;
  padding: 0 0.75rem 0 0.75rem;
}

.social svg {
	width: calc(2rem + 2vmin);
	height: calc(2rem + 2vmin);
  fill: rgb(29, 29, 29);
}

.social svg:hover {
	fill: $blue;
}

/*----------------------------------------------------------------*/

/*--------------------------LANDING PAGE--------------------------*/

.landing {
	color: $black;
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.landing h1 {
	font-size: calc(60px + (200 - 60) * ((100vw - 300px) / (1600 - 300)));
  font-weight: 600;
  padding: 16rem 1rem 12rem 1rem
}

.landing h1 > span {
	font-weight: 300;
}

.landing h2 {
  font-size: calc(25px + (45 - 25) * ((100vw - 300px) / (1600 - 300)));
  padding-top: 0.3rem;
}

.landing h2 > a {
  text-decoration: none;
  color: $black;
  padding: 8px;
  transition: all .3s ease-in-out;
  box-sizing: border-box;
  box-shadow: inset 0 -8px 0 0 $blue;
  &:hover {
    box-shadow: inset 0 -90px 0 0 $blue;
    color: rgb(247, 247, 247);
    border-radius: 6px;
  }
}

/*----------------------------------------------------------------*/

/*-------------------------MEDIA QUERIES--------------------------*/

@media only screen and (max-width: 400px) {
  .landing h1 {
    padding: 4rem 1rem 4rem 1rem;
  }
  #laptop-icon {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .landing h1 {
    padding: 5rem 1rem 5rem 1rem;
  }
}

@media only screen and (max-width: 1200px) {
  .landing h1 {
    padding: 5.5rem 1rem 5.5rem 1rem;
  }
}

@media only screen and (max-width: 1600px) {
  .landing h1 {
    padding: 6rem 1rem 6rem 1rem;
  }
}

/*----------------------------------------------------------------*/
